.generator-view {
    display: flex;
    color: white;
}

.outer-container {
    display: flex;
    padding: 10px;
}

.outer-container>*{
    border-radius: 5px;
}


.button {
    background-color: #363636;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 6px 6px;
    cursor: pointer;
    border-radius: 5px;
}