.generator-view {
    color: white;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: initial;
}

.button {
    background-color: #363636;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 6px 6px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.color-input-box {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border: none;
}

.input-box {
    background-color: #363636;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 5px;
}

.number-input-box {
    background-color: #363636;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 5px;
    width: 23px;
}

.toggle-button {
    background-color: #363636;
    cursor: pointer;
    padding: 16px 16px;
    margin: 6px 6px;
    border-radius: 5px;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

.toggle-button-pressed {
    background-color: #252525;
    cursor: pointer;
    padding: 16px 16px;
    border-radius: 5px;
    margin: 6px 6px;
    color: white;
    border: 1px solid rgb(184, 184, 184);
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.italic-button {
    font-style: italic;
}

.bold-button {
    font-weight: bold;
}

.visible-button {
    width: 80px;
    font-size: 15px;
}

h3 {
    margin: 0;
}

.dimension-input-box {
    background-color: #363636;
    border: none;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    margin: 6px 6px;
    border-radius: 5px;
    width: 55px;
}

input[type="file"] {
    display: none;
}