@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.App {
  position: relative;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

html, body {  
  color: white;
  background-color: #363636;
}
