#canvas-container {
  height: 500px;
  display: flex;
}

#canvas-container>canvas {
  display: block;
  position: absolute;
  overflow: hidden;
}

#video-container {
  bottom: 0;

}

#canvas-view {
  padding: 50px;
  display: block;

}