#canvas-container {
  height: 500px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#canvas-container>canvas {
  display: block;
  position: absolute;
}

#canvas-view {

}