.control-view>* {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    left: 0px;
    right: 0px;
}

.image-text-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-view {
    height: 100%;
    width: 17vw;
    position: absolute;
    left: 0px;
    top: 100px;
    padding: 2em;
    background-color: rgb(41, 41, 41);
}


