.control-view>* {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    left: 0px;
    right: 0px;
}

.image-text-boxes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control-view {
    height: 1800px;
    width: 560px;
    display: block;
    padding: 20px;
    left: 0px;
    top: 170px;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}




