.image-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.canvas-view {
    height: 100vw;
    width: 100%;
    position: relative;
}

.canvas-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(41, 41, 41);
}

.canvas-controls>* {
    display: flex;
    justify-content: center;
}