.image-view {
    display: block;
     top: 0;
     height: 100%;
     width: 100%;
     overflow: hidden;
     overflow-x: hidden;
     overflow-y: hidden;
     position: relative;
}
.canvas-view {
    display: block;
}

.canvas-controls {
    display: flex;
justify-content: space-evenly;
align-items: center;
background-color: rgb(41, 41, 41);
}

.canvas-controls>* {
    display: flex;
    justify-content: center;
}