.ui-view {
  height: 1800px;
  width: 560px;
  display: block;
  padding: 20px;
  right: 0px;
  top: 170px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(41, 41, 41);
}

.text-item {
  padding: 20px;
}

.toggle-button {
  background: #ccc;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 5px 5px;

}